<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3> -->
<!-- <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-primary mt-3">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col-md-12"><h5><span>Thông tin món ăn</span></h5></div>
                        </div>
                    </div>
                    <div class="card-body bg-light" style="max-height:320px; overflow:auto;">                        
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of orderItems">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="badge badge-left">{{item.qty}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        {{item.name}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="badge badge-success">{{item.price * item.qty | currency:'':'':'1.0-0'}} VND</div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger btn-xl" (click)="removeItem(item)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-right">
                        <div>
                            <h3><span class="badge badge-primary">Total: {{getTotalMoney() | currency:'':'':'1.0-0'}} VND</span></h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div>
                            <button [disabled]="!orderItems.length" class="btn btn-primary btn-lg mr-3" (click)="clearOrder()">Clear</button>
                            <button [disabled]="!orderItems.length" class="btn btn-danger btn-lg" (click)="checkout()">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-primary mt-3">
                    <div class="card-body">
                        <ul id="myTab" class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="drinks-tab" href="#drink" role="tab" data-toggle="tab" aria-controls="drinks" aria-selected="true">Drinks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="foods-tab" href="#food" role="tab" data-toggle="tab" aria-controls="foods" aria-selected="false">Foods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new-tab" href="#new" role="tab" data-toggle="tab" aria-controls="new" aria-selected="false">New Item</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="drinks" role="tabpanel" aria-labelledby="drinks-tab">
                                <button class="btn btn-primary btn-pos btn-marginTop" *ngFor="let item of menuDrinks" (click)="addToOrder(item,1)">{{item.name}}</button>
                            </div>
                            <div class="tab-pane fade" id="foods" role="tabpanel" aria-labelledby="foods-tab">
                                <button class="btn btn-warning btn-pos btn-marginTop" *ngFor="let item of menuFoods" (click)="addToOrder(item,1)">{{item.name}}</button>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="new">
                                <br />
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                            <div *ngIf="f.price.errors.required">Price is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select class="form-control" formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                            <option>Drinks</option>
                                            <option>Foods</option>
                                        </select>
                                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                                            <div *ngIf="f.category.errors.required">Category is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                                        <img *ngIf="loading" class="pl-3" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>

